body, a, strong, li{
    list-style-type: none;
    text-decoration: none;
    margin:0;
    padding: 0;
    
}
*{
    box-sizing: border-box;
}

@font-face {
    
    font-family: 'Segoe UI';
    src: url("img/SegoeUI-Roman-VF_web.woff2") format("truetype");

}
@font-face {
    font-weight: 400;
    font-family: 'Segoe UI';
    src: url("img/SegoeUI-Roman-VF_web.woff2") format("truetype");
}
@font-face {
    font-weight: 600;
    font-family: 'Segoe UI';
    src: url("img/SegoeUI-Roman-VF_web.woff2") format("truetype");
}

@media screen and (min-width:320px){
    
 .header-1{
    display: none;   
}
.header-2{
    display: none;
}
.header{
    height: 61px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
    box-sizing: border-box;
    margin-top: 17px;
    margin-right: 31px;
    margin-left: 18px;
}
.nav-hamburger{
   padding: 13px;
   font-family: 'Segoe UI',Segoe UI,'Helvetica Neue',Helvetica,Arial, sans-serif;
   font-size: 16px;
   letter-spacing: 1.1px;
}
.nav-hamburger img{
    margin-top: 2px;
    margin-left: -8px;
}
.nav-hamburger strong{
    color: #333;
    position: relative;
    bottom:1px;
    right: -17px;
}
.mic-icon{
    padding-top: 6px;
    padding-right: 43px;
    font-size: 12px;
    font-family: 'Segoe UI';
}
nav.mic-icon img{
    position: relative;
    left:7px;
    height: 32px;
    width: 32px;
}
nav#find img{
    height:32px;
    width: 20px;
    padding-top: 28%;
    margin-left: -55px;

}
nav#find{
    padding-top: 4px;
}
#who a{ 
    color: black;
    position: relative;
    left:-1px;
    bottom: 30px;
    font-size: 14px;
    font-family: 'Segoe UI',Segoe UI,'Helvetica Neue',Helvetica,Arial, sans-serif;
    font-weight: 20px;
    background-color: transparent;
 }
 .mobile-main{
    padding: 0;
    margin: 0;
    overflow: hidden;
 }
 .main1{
    margin: 0;
    padding: 0;
    background: url(img/december-hero-mobile.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 100%;
    height: fit-content;
    padding-bottom: 40px;
   
 }
 .main1 button{
    text-align: center;
    display: inline;
    border-radius: 7px;
    padding: 14px;
    padding-inline: 72px;
    margin: -6px;
    margin-inline-start: 37px;
    margin-block-start: 23px;
    width: 82%;
    overflow: hidden;
}
.main1 button a{
    color: white;
    padding-inline: 22px;
}

.main1 h1{
    margin: 0;
    padding: 0;
font-size: 54px;
letter-spacing:normal;
line-height: 1.1;
font-family:'Segoe UI',Segoe UI,'Helvetica Neue',Helvetica,Arial, sans-serif;
text-align: center;
padding-top: 59px;
color: #1a1a1f;
max-width: 738px;
}
 .main1 p{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
    font-family: 'Segoe UI',Segoe UI,'Helvetica Neue',Helvetica,Arial, sans-serif;
   color: rgb(83, 76, 76);
   margin: 18px;
   margin-top: 28px;
   line-height: 23.5px;
}
.chat{
    position:fixed;
    bottom: 0;
    right: 12px;
   

}
.chat button{
    background-color:#0078d4 ;
    border: 1px solid #0078d4;
   border-radius: 3px;
    width: auto;
    padding: 11px 18px;
}
.chat button a{
    color: white;
    padding-left: 5px;
}
.section-m{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    overflow: none;
}
div.h-m p{
    width: 79%;
    text-align: center;
    margin-inline-start: 39px;
    margin-block-start: 65px;
    font-size: 20px;
    font-weight:600 ;
    font-family: 'Segoe UI';
}
div.easy-m1{
    
     display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 9px;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
    width: 92%;
    margin-bottom: 36px;
    margin-inline-start: 10px;
    

}
div.easy-m2{
    
    display: flex;
   align-items: center;
   background-color: #ffffff;
   border-radius: 9px;
   border: 1px solid transparent;
   box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
   width: 91%;
   margin-bottom: 36px;
   margin-inline-start: 10px;

}
div.easy-m3{
    
    display: flex;
   align-items: center;
   background-color: #ffffff;
   border-radius: 9px;
   border: 1px solid transparent;
   box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
    width: 91%;
   margin-bottom: 36px;
   margin-inline-start: 10px;

}
div.easy-m1 img{
   width:68px;
    height: 68px;
    margin-block-end: 30px;
    border-radius: 9px;
}
div.easy-m2{
    display: flex;
    align-items: center;
}
div.easy-m2 img{
    width: 68px;
    height:70px;
    
}
div.easy-m3{
    display: flex;
    align-items: center;
}
div.easy-m3 img{
    width:68px;
    height: 68px;
}


div.easy-m strong{
 font-size: 20px;
 font-family: 'Segoe UI';
 color: #0062ad;
 margin-block: 19px;
 margin-inline-end: 24px;
 padding-left: 7px;
 
}
.know-m{
    text-align: center;
    font-size: 16px;
 font-family: 'Segoe UI';
 letter-spacing: 1px;
 padding-top: 5px;
}
.know-m button{
    background: none;
    border: 1px solid #0062ad;
    color: #0062ad;
    font-size: 14px;
    font-family: 'Segoe UI';
    letter-spacing: 1px;
    border-radius: 4px;
    width: 70%;
    height: 43px;
}
}

@media screen and (min-width:768px) {
   
    .header{
        display: none;
    }

    .header-1{
        height: 46px;
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        color: #333;
        margin-top: 10px;
        margin-left: 10px;
 }
    
     .mic-list ul{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        left: 58px;
        top: -58px;
        gap:1px
        
}
i.fa.fa-angle-down{
    position: relative;
    top:2px;
    right: -4px;
    font-size: 14px;
}
.mic-list img{
margin: 3px;
margin-left: 0px;
margin-top: 4px;
height: 25.5px;
width: 24px;
}
.mic-list strong{
    color: #333;
    font-family:'Segoe UI',Segoe UI,'Helvetica Neue',Helvetica,Arial, sans-serif ;
    font-size: 16px;
    font-stretch:ultra-condensed;
    letter-spacing: 1.1px;
    position: relative;
    bottom: 13px;
    left: 4px;
}


.mic-list li{
    padding: 9px;
}
.mic-list li a{
    color: #333;
    font-family:'Segoe UI',Segoe UI,'Helvetica Neue',Helvetica,Arial, sans-serif ;
    font-size: 13px;
}
div#who-1{
    display: flex;
    position:relative;
    left: 6px;
    top: -2px;

}
div#who-1 nav a{
    color: #333;
    font-family:'Segoe UI',Segoe UI,'Helvetica Neue',Helvetica,Arial, sans-serif ;
    font-size: 13px;
}
div#who-1 nav{
    padding:13px ;
}
div#who-1 nav#button-1 img{
    position:relative ;
    left: 8px;
    top:-4px;
}
div#who-1 nav#find-1 img{
   height: 14px;
   width: 14px;
    position: relative;
    top: -4px;
    left: 15px;
}
.main1{
    width: 101%;
    padding-bottom: 58px;
}
.main1 button{
    margin-inline-start: 63px;
    margin-block-start: 27px;
    width: 83%;
    margin-block-end: -9px;
}
.main1 h1{
    margin-left: 16px;
}
.main1 p{
    margin-top: 13px;
    margin-left: 8px;
}
}
@media screen and (min-width:769px){
    .main1{
        background-position: center;
    }
   .main1 h1{
        text-align: start;
        width:66%;
    }
    .main1 p{
        margin-top: 13px;
        margin-left: 14px;
        width: 70%;
        text-align: left;
    }
.main1 button{
    margin-inline-start: 19px;
    margin-block-start: 26px;
    width: 19%;
    padding: 14px;
}
.main1 button a{
    
    white-space: nowrap;
}

button.start1{
    width: 109px;
    padding-inline: 0px;
}
button.free1{
    padding: 12px;
    margin-left: 25px;
}
}
@media screen and (min-width:961px){
    .main1{
        margin: 0;
        padding: 0;
        background: url(img/december-hero-desktop.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    width: 100%;
    height: fit-content;
    padding-bottom: 69px;
    }
    .main1 h1{
        text-align: start;
        width: 46%;
    }
    .main1 p{
        width: 48%;
    }
    .main1 button{
        width: 12%;
    }
    button.start1{
        margin-inline: 12px;
        padding-inline: 0px;
    }
    button.free1{
        width: 137px;
        margin-left: 7px;
    }
}

@media screen and (min-width:1080px) {
    .header-1{
        display: none;
    }
    .header-2{
        height:55px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 9px;
        margin-right: 12px;
        padding: auto;
        margin-top: 6px;
        
    }
    li.free{
        width:66px;
        max-width: 1440px;
    }
    .mic2 ul{
     display: flex;
     flex-wrap: nowrap;
     width: auto;
     position: relative;
     justify-content: space-between;
     left: 92px;
     top: -48px;
     gap: 18.5px;
     margin-right: 84px;
    
     
}
.mic2 li{
    font-size: 12.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mic2 li a{
    color: black;
    font-weight: 500;
    font-family:'Segoe UI',Segoe UI,'Helvetica Neue',Helvetica,Arial, sans-serif  ;
    letter-spacing: 0.4px;
}
.mic2 img{
margin: 3px;
margin-left: 0px;
margin-top: 7px;
height: 25.5px;
width: 24px;
}
.mic2 strong{
    color: #333;
    font-family:'Segoe UI',Segoe UI,'Helvetica Neue',Helvetica,Arial, sans-serif ;
    font-size: 18px;
    letter-spacing: 1.1px;
    position: relative;
    bottom: 14px;
    left: 16px;
}
i.fa.fa-angle-down{
    position: relative;
    top:2px;
    right: -4px;
    font-size: 12px;
}

.right2 li input{
    position: relative;
    top: -10px;
    right: 34px;
    border-radius: 4px;
    border-color:gray;
    font-size: 9px;
    min-height: 32px;
    box-sizing: border-box;
    border: 1px solid gray;
    width: 119px;
}
.right2 div img{
    position: absolute;
    right: 43px;
    top:-4px;
    height: 17px;
    width: 17px;
    color: #333;
    overflow: hidden;
}
::placeholder{
    font-size: 1.4em;
    font-family: 'Segoe UI',Segoe UI,'Helvetica Neue',Helvetica,Arial, sans-serif;
   position: absolute;
   left: 12px;
   top: 6px;
}
.right2 ul{
    display: flex;
    width:fit-content;
    align-items: flex-start;
    gap: 10px;
    margin-right: 15px;
}
.right2 ul a{
    color: black;
    font-size: 12.5px;
    font-family:'Segoe UI',Segoe UI,'Helvetica Neue',Helvetica,Arial, sans-serif ;
}
div.right2 li:nth-child(5){
    background-color: #89c402;
    text-align: center;
    
   padding-inline: -4px;
   padding-block: 7px;
    font-weight: 500;
    line-height: 1;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #5e8308;
    display:flex;
    align-content: flex-start;
    position: relative;
    top: -16px;
    right: 5px;

}
.main1 h1{
    width: 47%;
}
li.free{
    margin-inline-end: -13px;
}
.main1 p{
    width: 47%;
}
button.start1{
    width: 10%;
}
}
@media screen and (min-width:1280px){
    .header-2{
        height:49px;
        margin-top: 4px;
        margin-left: 13px;
        margin-right: -4px;
        max-width:1318px;
        margin-inline: auto;

    }
    .mic2 ul{
        left: 99px;
    }
    .mic2 img{
        margin-left: 7px;
    }
    div.text1{
        max-width: 1318px;
        margin-inline: auto;
        margin-block-start: 13px;
    }
    button.start1{
        width: 9%;
    }
    .main1 p{
        width: 47%;
    }
    li.free{
        width: 90px;
    margin-block: 5px;
    margin-inline: 2px;
    display: grid;
   
    }
    li.free strong{
        margin-left: 7px;
    }
    .main1{
        padding-bottom: 290px;
        border-top: 1px solid lightgray;
    }
}

@media screen and (min-width:1440px){
    
    li.free{
        width: 101px;
    margin-block: 3px;
    margin-inline: 2px;
    display: grid;
    max-width: 3000px;
    }
    li.free strong{
        margin-left: 0;
    }
    li.free a{
        margin-top: 2px;
    }
    .right2 ul{
        gap:14px;
    }
    div.right2 li:nth-child(5) {
        margin-left: 0px;
        margin-top: 0;
        display: flex;
        padding-block: 8px;
        width: 88px;
        justify-content: center;
        position: relative;
        top: -9px;
        right: -1p

}
.right2 ul a{
    font-size: 12px;
}
.main p{
    width: 47%;
}


}


