

*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'Graphik-m';
    src: url('img/Graphik-Medium-Web.woff2');
}
@font-face {
    font-family: 'Graphik-r';
    src: url('img/Graphik-Regular-Web.woff2');
}
@font-face {
    font-family: 'Graphik-l';
    src: url('img/Guardian-EgypTT-Light.woff2');
}
body{
    margin: 0;
    padding: 0;
}
@media screen and (min-width:320px){
    

.header{
    display: flex;
    justify-content: space-between;
    padding-left: 9px;
    padding-right: 13px;
}
.sign-in-fav ul{ 
    list-style-type: none;
    display: flex;
    margin: 0;
    padding:0;
}
.etsy-icon img{
    padding-top: 7px;
}
.sign-in-fav ul li:nth-of-type(1){
    font-size: 13px;
    font-family: 'Graphik-m';
    margin-right: 6px;
    padding: 16px 15px;
}
.sign-in-fav ul li:nth-of-type(2),
.sign-in-fav ul li:nth-of-type(3){
    padding:11px 11px 7px 12px;
}
.nav-bars{
    display: flex;
    justify-content: space-between;
}
.bars{
    background-color: transparent;
    border: 0;
    padding: 12px;
}
.form-input{
    position: relative;
    width: 84%;
}
#search{
    border: 2px solid black;
    border-radius: 50px;
    background-color: #f5f5f5;
    padding: 9px 100px 9px 15px;
    width: 95%;
    height: 92%;
}
#search::placeholder{
    font-size: 16px;
    padding-right: 42px;
}
.search-icon{
    position: absolute;
    border: 0;
    background-color: transparent;
    right: 10%;
    top: 15%;
    transform: translate(-10%,10%);
}
}
 @media screen and (min-width:768px){
    .etsy-icon img{
        width: 80px;
    }
    .header{
        padding-right: 21px;
    }
    .nav-bars{
        display: flex;
    }
    .form-input{
        width: 100%;
    }
    .search-icon{
        right: 5%;
    }
    #search{
        width: 97%;
    }
}
@media screen and (min-width:1024px){
    .bars{
        display: none;
    }
    .etsy-icon{
        padding-left: 25px;
    }
    .etsy-icon img{
        padding-top: 17px;
        width: 80px;
    }
    #search{
        padding: 14px 100px 14px 15px;
        width: 91%;
        height: 100%;
    }
    .search-icon{
        right: 11%;
    }
    .form-input{
        position: relative;
        width: 72%;
        left: 125px;
        top: -49px;
    }
    .sign-in-fav{
        padding-top: 8px;
    }

} 